*{font-family: 'Commit-Mono';}
body {background-color: #404040;}
h1   {color: SlateBlue;}
p    {color: LightGray;}
input {
  max-width: 200x;
  width: 98%;
  min-width: 80px;
  padding-right: 10px;
}

container {
    width: 80%;
    height: 200px;
    background: aqua;
    margin: auto;
    padding: 10px;
}

.one {
    width: 15%;
    height: 200px;
    background: red;
    float: left;
}

.two {
    margin-left: 15%;
    height: 200px;
    background: black;
}
