*{font-family: 'Commit-Mono';}
body {background-color: #404040;}
h1   {color: SlateBlue;}
p    {color: LightGray;}
input {
  max-width: 200x;
  width: 98%;
  min-width: 80px;
  padding-right: 10px;
}
